<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Produtos</title>
		</head>
	<body>

		<table>
			<% for (let i=0; i< posts.length; i++) { %> 
				<td>ID</td>
				<td>Titulo</td> 
				<td>Conteúdo</td>
			<% } %> 
			
	</table> 

	</body>
</html>